<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Солнечная Лагуна</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <svg width="869.000000" height="59.000000" viewBox="0 0 869 59" fill="none"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <desc>
                        Created with Pixso.
                    </desc>
                    <defs />
                    <path id="Прямоугольник 1"
                        d="M0 0L869 0.29L838.86 53.9C837.09 57.05 833.75 59 830.14 59L39.47 59C35.88 59 32.57 57.07 30.79 53.95L0 0Z"
                        fill="#0FB1C3" fill-opacity="1.000000" fill-rule="evenodd" />
                </svg>
                <nav class="header__nav">
                    <a href="about.html">О нас</a>
                    <a href="category.html">Домики</a>
                    <a href="contact.html">Контакты</a>
                    <a href="gaiety.html">Развлечения</a>
                    <a href="promotion.html">Акции</a>
                    <a href="reviews.html">Отзывы</a>
                </nav>
                <div class="circ">
                    <a href="category.html" class="logo">
                        <img src="assets/media/icons/logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </header>
        <main>
            <section class="about__sec">
                <div class="container">
                    <h2 class="title__page">Красота природы в комфортных условиях</h2>
                    <div class="row">
                        <div class="column">
                            <h3><span>Оставьте за порогом</span> шум городской суеты</h3>
                            <p>Путешествие к себе начинается здесь, в нашем уединенном уголке природы, где время
                                замирает, а звуки леса и шепот ветра наполняют нас внутренним покоем</p>
                        </div>
                        <div class="column">
                            <div class="image__block">
                                <img src="assets/media/image/about1.png" alt="about1">
                                <img src="assets/media/image/about2.png" alt="about2">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about_why__sec">
                <div class="container">
                    <h2>Почему к нам приезжают отдыхать снова и снова</h2>
                    <ul>
                        <li>
                            <img src="assets/media/icons/mountain-property.png" alt="mountain">
                            <p>Комфортные дома уникального стиля</p>
                        </li>
                        <li>
                            <img src="assets/media/icons/barbecue.png" alt="barbecue">
                            <p>Уютные беседки и зона барбекю</p>
                        </li>
                        <li>
                            <img src="assets/media/icons/fishing-tool.png" alt="fishing">
                            <p>Рыбалка круглый год</p>
                        </li>
                        <li>
                            <img src="assets/media/icons/pet.png" alt="pet">
                            <p>Питомцам вход разврешен</p>
                        </li>
                        <li>
                            <img src="assets/media/icons/sports.png" alt="sports">
                            <p>Активный отдых для всех</p>
                        </li>
                        <li>
                            <img src="assets/media/icons/team.png" alt="team">
                            <p>Приветливый персонал</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="about_house__sec">
                <div class="container">
                    <div class="row">
                        <div class="column">
                            <h2>Домики</h2>
                            <p>На нашей территории расположено семь уютных круглогодичных юрт. Каждая юрта находится
                                среди
                                деревьев, а из окон открывается вид на реку. Для бронирования доступно четыре стильных
                                барнхауса каждый из которых спроектирован с учетом современных тенденций. Эти уютные
                                дома
                                выполнены из натуральных материалов и находятся на фоне живописной природы. Также у нас
                                есть
                                четыре скандинавских глэмпинга, которые идеально сочетают комфорт и близость к природе.
                                Каждый глэмпинг оформлен в минималистичном стиле, пропитанном скандинавской эстетикой, и
                                предлагает уникальный опыт для гостей</p>
                            <a href="house.html" class="btn">Подробнее о домиках</a>
                        </div>
                        <div class="column">
                            <ul>
                                <li>Домики с современными удобствами</li>
                                <li>Кухня со всем необходимым</li>
                                <li>Теплый пол и кондиционер</li>
                                <li>Проектор с подборкой фильмов на любой вкус</li>
                                <li>Вместимость от двух до шести человек</li>
                                <li>Индивидуальная зона отдыха с костром у каждого домика</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <a href="category.html" class="logo">
                    <img src="assets/media/icons/logo-color.png" alt="logo">
                    Солнечная Лагуна
                </a>
                <nav class="footer__nav">
                    <div class="column">
                        <a href="about.html">О нас</a>
                        <a href="house.html">Домики</a>
                    </div>
                    <div class="column">
                        <a href="contact.html">Контакты</a>
                        <a href="gaiety.html">Развлечения</a>
                    </div>
                    <div class="column">
                        <a href="promotion.html">Акции</a>
                        <a href="reviews.html">Отзывы</a>
                    </div>
                </nav>
                <address>
                    <div class="column">
                        <a href="tel: + 7 (930) 333-47-56">+ 7 (930) 333-47-56</a>
                        <a href="mailto: info@Sunny-Lagoon.ru">info@Sunny-Lagoon.ru</a>
                    </div>
                    <div class="column">
                        <p>Пензенская область,
                            пос. Возрождение, Отрадная, 1</p>
                    </div>
                </address>
            </div>
        </footer>
    </div>
    <script src="assets/js/main.js"></script>
</body>

</html>