<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Солнечная Лагуна</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <svg width="869.000000" height="59.000000" viewBox="0 0 869 59" fill="none"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <desc>
                        Created with Pixso.
                    </desc>
                    <defs />
                    <path id="Прямоугольник 1"
                        d="M0 0L869 0.29L838.86 53.9C837.09 57.05 833.75 59 830.14 59L39.47 59C35.88 59 32.57 57.07 30.79 53.95L0 0Z"
                        fill="#0FB1C3" fill-opacity="1.000000" fill-rule="evenodd" />
                </svg>
                <nav class="header__nav">
                    <a href="about.html">О нас</a>
                    <a href="category.html">Домики</a>
                    <a href="contact.html">Контакты</a>
                    <a href="gaiety.html">Развлечения</a>
                    <a href="promotion.html">Акции</a>
                    <a href="reviews.html">Отзывы</a>
                </nav>
                <div class="circ">
                    <a href="category.html" class="logo">
                        <img src="assets/media/icons/logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </header>
        <main>
            <section class="category__sec">
                <div class="container">
                    <h2 class="title__page">
                        У нас вы найдете пространства <span>с уникальными стилями</span>
                    </h2>
                    <p>Мы понимали, что у всех разные вкусы и предпочтения: кто-то ищет уединения в природе, кто-то
                        хочет насладиться современным комфортом, а кто-то мечтает о необычном и экзотическом опыте. </p>
                    <p>Выберите свое размещение - экзотический отдых в юрте, уединение в глэмпинге или комфортное
                        размещение в барнхаусе.</p>
                    <ul class="category__list">
                        <li>
                            <img class="image__link" src="assets/media/temp/category/1.png" alt="category">
                            <h3 class="title">Скандинавские глэмпинги</h3>
                            <p class="capacity">Вместимость на 2 и 4 гостей</p>
                            <p class="prev__text">С потрясающим панорамным окном во всю стену! Здесь вы сможете
                                наслаждаться великолепными видами на природу прямо из комфорта своего уютного убежища.
                                Внутри вас ждёт стильный интерьер с удобной мебелью, кроватью, оборудованной кухней и
                                санузлом.</p>
                            <a href="house.html?category=1" class="btn">Выбрать</a>
                        </li>
                        <li>
                            <img class="image__link" src="assets/media/temp/category/2.png" alt="category">
                            <h3 class="title">Уютные юрты</h3>
                            <p class="capacity">Вместимость до 4 гостей</p>
                            <p class="prev__text">Традиционная эстетика кочевого жилища и комфорт современного дома!
                                Юрты оснащены кондиционером, удобной кроватью, санузлом и кухней.
                                Это идеальное место для тех, кто хочет испытать уникальный опыт проживания в юрте, не
                                жертвуя удобствами.</p>
                            <a href="house.html?category=2" class="btn">Выбрать</a>
                        </li>
                        <li>
                            <img class="image__link" src="assets/media/temp/category/3.png" alt="category">
                            <h3 class="title">Стильные барнхаусы</h3>
                            <p class="capacity">Вместимость до 6 гостей</p>
                            <p class="prev__text">Сочетание минимализма и экологичности. Внутри вас ждут просторные
                                светлые комнаты с высокими потолками, панорамные окна с видом на природу, полностью
                                оборудованная кухня и комфортные спальни.
                            </p>
                            <a href="house.html?category=3" class="btn">Выбрать</a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <a href="category.html" class="logo">
                    <img src="assets/media/icons/logo-color.png" alt="logo">
                    Солнечная Лагуна
                </a>
                <nav class="footer__nav">
                    <div class="column">
                        <a href="about.html">О нас</a>
                        <a href="house.html">Домики</a>
                    </div>
                    <div class="column">
                        <a href="contact.html">Контакты</a>
                        <a href="gaiety.html">Развлечения</a>
                    </div>
                    <div class="column">
                        <a href="promotion.html">Акции</a>
                        <a href="reviews.html">Отзывы</a>
                    </div>
                </nav>
                <address>
                    <div class="column">
                        <a href="tel: + 7 (930) 333-47-56">+ 7 (930) 333-47-56</a>
                        <a href="mailto: info@Sunny-Lagoon.ru">info@Sunny-Lagoon.ru</a>
                    </div>
                    <div class="column">
                        <p>Пензенская область,
                            пос. Возрождение, Отрадная, 1</p>
                    </div>
                </address>
            </div>
        </footer>
    </div>
    <script src="assets/js/main.js"></script>
</body>

</html>