<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Солнечная Лагуна</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <svg width="869.000000" height="59.000000" viewBox="0 0 869 59" fill="none"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <desc>
                        Created with Pixso.
                    </desc>
                    <defs />
                    <path id="Прямоугольник 1"
                        d="M0 0L869 0.29L838.86 53.9C837.09 57.05 833.75 59 830.14 59L39.47 59C35.88 59 32.57 57.07 30.79 53.95L0 0Z"
                        fill="#0FB1C3" fill-opacity="1.000000" fill-rule="evenodd" />
                </svg>
                <nav class="header__nav">
                    <a href="about.html">О нас</a>
                    <a href="house.html">Домики</a>
                    <a href="contact.html">Контакты</a>
                    <a href="gaiety.html">Развлечения</a>
                    <a href="promotion.html">Акции</a>
                    <a href="reviews.html">Отзывы</a>
                </nav>
                <div class="circ">
                    <a href="category.html" class="logo">
                        <img src="assets/media/icons/logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </header>
        <main>

        </main>
        <footer>
            <div class="container">
                <a href="category.html" class="logo">
                    <img src="assets/media/icons/logo-color.png" alt="logo">
                    Солнечная Лагуна
                </a>
                <nav class="footer__nav">
                    <div class="column">
                        <a href="about.html">О нас</a>
                        <a href="house.html">Домики</a>
                    </div>
                    <div class="column">
                        <a href="contact.html">Контакты</a>
                        <a href="gaiety.html">Развлечения</a>
                    </div>
                    <div class="column">
                        <a href="promotion.html">Акции</a>
                        <a href="reviews.html">Отзывы</a>
                    </div>
                </nav>
                <address>
                    <div class="column">
                        <a href="tel: + 7 (930) 333-47-56">+ 7 (930) 333-47-56</a>
                        <a href="mailto: info@Sunny-Lagoon.ru">info@Sunny-Lagoon.ru</a>
                    </div>
                    <div class="column">
                        <p>Пензенская область,
                            пос. Возрождение, Отрадная, 1</p>
                    </div>
                </address>
            </div>
        </footer>
    </div>
    <script src="assets/js/main.js"></script>
</body>

</html>