<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Солнечная Лагуна</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="index__header">
            <div class="container">
                <nav>
                    <a href="about.html">О нас</a>
                    <a href="house.html">Домики</a>
                    <a href="contact.html">Контакты</a>
                    <a href="gaiety.html">Развлечения</a>
                    <a href="promotion.html">Акции</a>
                    <a href="reviews.html">Отзывы</a>
                </nav>
                <img src="assets/media/image/index.jpg" alt="back">
                <div class="content">
                    <h1>Солнечная Лагуна</h1>
                    <p>Отдых, который вы запомните навсегда!</p>
                    <a href="reservation.html" class="btn btn__light">Забронировать домик</a>
                </div>
            </div>
        </header>
    </div>
    <script src="assets/js/main.js"></script>
</body>

</html>