
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body style="background-color: black;">
    <div class="btn">Кнопка</div>
    <div class="btn btn__light">Светлая кнопка</div>
    <div class="btn btn__reverse">Инверсивная кнопка</div>
</body>
</html>